footer{
  width: 1920px;
  height: 80px;
  background-color: #2a83bf;
  display: flex;
  justify-content: center;
  .footer_box{
    margin-top: 20px;
    margin-left: 850px;
    position: absolute;

  }
}